// TexturePacker export for CSS
@import "../resources/atlases/css-assets.css";

// Override the sprite class to have the proper url
.sprite {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../resources/atlases/css-assets.png);
}