@import "../../node_modules/typeface-montserrat/index.css";
@import "../fonts/Johnyokonysm/index.css";

@import "normalize";
@import "range";
@import "game";
@import "hud";
// @import "css-atlas";

html {
  font-size: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: "Johnyokonysm", sans-serif;
}
